@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$primary: #0070f3;
$secondary: #f6f6f6;
$min-contrast-ratio: 2;
$border-radius: .3rem;
$border-radius-sm: .1rem;
$border-radius-lg: .5rem;
$font-family-base: 'Figtree', sans-serif;
$input-btn-padding-x: 1.7rem;
$input-btn-padding-y: .4rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-sm: .3rem;
$input-btn-padding-x-lg: 1.5rem;
$input-btn-padding-y-lg: .650rem;
$input-bg: $secondary;
$card-border-color: #ececec;
$input-focus-box-shadow: 0;
$input-font-weight: bold;
$btn-hover-border-shade-amount: 0;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1210px
);

@import 'bootstrap/scss/bootstrap';
@import 'remixicon/fonts/remixicon.css';
@import 'button';

body {
    background-color: #ffffff;
    background-image:  linear-gradient(#f8fcfd 2.2px, transparent 2.2px), linear-gradient(to right, #f8fcfd 2.2px, #ffffff 2.2px);
    background-size: 44px 44px;
}

.theme-border {
    border: 1px solid #eee;
}

.display {
    font-weight: 400;
    line-height: 1.2;
}

.separator {
    color: #ccc;
}
